@{
    ViewBag.Title = "PaymentBeingVerified";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p><h2>Thankyou for your patience. Your payment details are being verified. We will inform you (via email) once your payment authorisation is complete</h2></p>

<div>
    <hr />
    <p><b>Please click @Html.ActionLink("here", "authenticate", "Login") to go to the login page</b></p>
</div>

