@model Connect.Models.LoginViewModel
@{
    ViewBag.Title = "Al Burhan Login";
}

@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" align="center" style="padding: 25px;">
        <table class="details_plain_small">
            @if (Model != null && Model.HasAuthenticationFailed)
            {
                <tr>
                    <td>
                        <p style="display: block; color: red;">@Model.InvalidEmailAddressErrorMessage</p>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <p style="font-size: 15px;">Please note that your existing password will be sent to your registered e-mail address. Please provide your e-mail address below.</p>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.EditorFor(model => model.ForgotPasswordUsername, new { htmlAttributes = new { @class = "textbox-my", placeholder = "please enter your e-mail address" } })
                    <input type="submit" value="Resend" class="btn btn-default button-my-forgot" />
                </td>
            </tr>
        </table>
    </div>
}

@Scripts.Render("~/bundles/ui")


